@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Inter:wght@300;400&family=Montserrat:wght@200&family=Noto+Sans:wght@300&family=PT+Sans&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Inter:wght@300;400&family=Montserrat:wght@200&family=Noto+Sans:wght@300&family=PT+Sans&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;1,300&family=Trirong:ital,wght@1,200&display=swap');
:root {
  --dark: hsl(229, 75.9%, 15.9%, 1);
}

body{
  font-family: "Trirong", sans-serif;
    width: 100%;
    height: auto;
    margin: 0;
    
}

.main-page{
    font-family: IBM Plex Sans;
    display: inline-block;
}

.card-img-top {
    width: 100%;
    height: 200px;
}

.grid{
    min-height: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.page {
    background-color: #ece8e8;
   
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
}



/*Zaglavlje za logo i naziv sajta */
.header {
    width: 100%;
    max-width: 1920px;
    display: flex;
    background-image: url("./Slike/naslovna.jpg");
}
  
.left {
    flex: 20%;
}

.right {
    flex: 80%;
    text-align: center;
    font-size: 25px;
    height: 170px;
    line-height: 7rem;
}

.content{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}


.footer{
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-decoration: none;
  width: 100%;
  font-family: Montserrat;
}

.footer a{
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  color: white;
}

.navbar-background{
    background: #333;
}

a.nav-link{
    color:white !important;
}
a.nav-link.active{
    color: #be3240 !important;
}

a.nav-link:hover{
    color: rgba(255, 0, 25, 0.468) !important;
}


.nav {
    list-style-type: none;
    margin: 0 auto 0px;
    justify-content: center;
    position: sticky;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top:0;
    box-shadow: 7px 7px;


    li {
        align-content: center;
        height: 100%;
        float: left;
    }



    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px 14px 16px;
        text-decoration: none;
    }

    li a:hover{
        background-color: #111;
    }

}


.icon{
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}



div.gallery img {
  width: 100%;
  height: 200px; 
   
}

div.desc {
  padding: 15px;
  text-align: center;
}
.slikaGalery:hover{
  background-color: salmon;
  transform: scale(1.2);
  transition: 1s;
}



.card-img-top {
    transition: all 0.5s ease-in-out;
}

.card-img-top:hover{
    transform: scale(1.03);
    cursor: pointer;
  }
  
 

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 



  
  form {
    border: 3px solid #f1f1f1;
    align-items: center;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 50px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #ad2424cb;
    color: white;
    padding: 14px 20px;
    margin: 50px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #6d6867;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 70%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }



  #progress-bar {
    --progress: 0;
    height: 6px;
    width: var(--progress);
    background-color: hsla(6, 85%, 47%, 0.712);
  }


  /*O zivotinjama*/
.text-animals{
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
}